DATABASE_URL=postgresql://postgres.MFTBYJCSYNDVKPOMZVFX:YOUR_PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://mftbyjcsyndvkpomzvfx.supabase.co
SUPABASE_KEY=sb_publishable_EPRyYgoN_DxGvYvA3k3LWw_hc7vhLCo
